body {
  #content {

    .module-btn {
      padding: 20px;
      margin:10px 5px;
      min-width:100px;
    }
    .param-btn {
      display: block;
      padding-bottom: 10px;
      margin: 10px;
    }

    .hardware-btn {
      display: block;
      margin: 0 10px 20px;
    }
    .show-params {
      cursor: pointer;
    }
  }
}