body{
  background-color: #f8f8f8;

  .nowrap{
    white-space:nowrap;
  }

  .vertical-middle{
    vertical-align:middle;
  }

  #wrapper {
    width: 100%;
  }

  #content {
    padding: 0 15px;
    background-color: #fff;
    min-height: 660px;
  }

  #show-menu {
    display: none;
  }

  #close-menu {
    display: none;
  }

  .navbar-top-links {
    li.dropdown {
      margin: 0;
      display: inline-block;
      a {
        padding: 15px;
        min-height: 50px;
      }

      .user {
        width: 32px;
        height: 32px;
        vertical-align: middle;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }

    li:last-child {
      margin-right: 15px;
    }

    .dropdown-menu {
      li {
        display: block;
        a {
          padding: 5px 20px;
          min-height: 0;
          &:hover {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
          }
        }
      }
    }
  }

  .sidebar {

    .sidebar-nav.navbar-collapse {
      padding-right: 0;
      padding-left: 0;
    }

    ul li {
      border-bottom: 1px solid #e7e7e7;

      a.active {
        background-color: #eee;
      }
    }

    .navbar-default {
      border: 0px;
    }
  }
}

@media(min-width:768px) {

  body {
    .sidebar {
      z-index: 1;
      width: 100px;
      position: absolute;
      margin-top: 51px;
    }

    #content {
      position: inherit;
      margin: 0 0 0 100px;
      padding: 0 30px;
      border-left: 1px solid #e7e7e7;
    }

    #show-menu {
      position: fixed;
      left: 8px;
      bottom: 8px;
      z-index: 10;
      display: inline;
    }

    #close-menu {
      display: block;
    }

    .navbar {
      margin-bottom: 0;
    }
  }
}