body{
  width: 100%;
  height: 100%;

  background-color: #f8f8f8;

  /* 通用样式 */
  .nowrap{
    white-space:nowrap;
  }

  .vertical-middle{
    vertical-align:middle;
  }

  .edit {
    color: #337ab7;
    text-decoration:none;
  }
  /* 通用样式 */

  #wrapper {
    width: 100%;

    #content {
      padding: 0 15px;
      background-color: #fff;
      min-height: 660px;
    }


    #nav {
      margin-bottom: 0;

      .navbar-default {
        border: 0;
      }
      .navbar-right {
        margin-right: 0;
      }

      .navbar-top-links {
        li {
          margin: 0;
          display: inline-block;
          a {
            padding: 15px;
            min-height: 50px;
          }

          .user {
            width: 32px;
            height: 32px;
            vertical-align: middle;

            img {
              width: 32px;
              height: 32px;
            }
          }
        }

        li:last-child {
          margin-right: 15px;
        }
      }

      .sidebar {

        .sidebar-nav.navbar-collapse {
          padding-right: 0;
          padding-left: 0;
        }

        ul li {

          a.active {
            background-color: #eee;
          }
        }

      }
    }
  }

  #show-menu {
    display: none;
  }

  #close-menu {
    display: none;
  }
}

@media(min-width:768px) {

  body {
    .sidebar {
      z-index: 1;
      width: 100px;
      position: absolute;
      margin-top: 51px;

      .navbar {
        margin-bottom: 0;
      }

      #close-menu {
        display: block;
      }
    }

    #content {
      position: inherit;
      margin: 0 0 0 100px;
      padding: 0 30px;
      border-left: 1px solid #e7e7e7;
    }

    #show-menu {
      position: fixed;
      right: 8px;
      top: 8px;
      z-index: 10000;
      display: inline;
    }
  }
}