body {
  #content {
    .edit-subproduct,.edit-module,.edit-param {
      color: #337ab7;
      text-decoration:none;
    }

    .module-btn {
      padding: 20px;
      margin:10px 5px;
      min-width:100px;
    }
  }
}